<app-nav-bar></app-nav-bar>

<div class="absolute top-0 z-[-1]">
    <section>
        <div class="flex relative h-screen">

            <img class="opacity-25 w-[100%]" src="./assets/asset-bg.webp" alt="skyline">
            <div class="flex flex-col items-center absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%]">
                <h1 class="text-5xl m-5 text-primary" style="font-family: 'Lobster';">{{'BANNER.NAME'|translate}}
                </h1>
                <p class="text-2xl text-primary">{{'BANNER.DESCRIPTION'|translate}}</p>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="mx-40 py-10">


            <div class="flex ">
                <h1 class="text-5xl m-5 text-primary" style="font-family: 'Lobster';">My Skills
                </h1>
                <!--  -->
            </div>
            <div class="flex flex-wrap">
                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
                    <h3 class="text-lg font-semibold mb-2">Lenguajes de Programación</h3>
                    <ul class="list-disc list-inside">
                        <li>JavaScript</li>
                        <li>Python</li>
                        <li>Java</li>
                        <li>C#</li>
                    </ul>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
                    <h3 class="text-lg font-semibold mb-2">Desarrollo Web</h3>
                    <ul class="list-disc list-inside">
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript (ES6+)</li>
                        <li>React.js</li>
                        <li>Node.js</li>
                        <li>Express.js</li>
                    </ul>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
                    <h3 class="text-lg font-semibold mb-2">Base de Datos</h3>
                    <ul class="list-disc list-inside">
                        <li>SQL</li>
                        <li>MySQL</li>
                        <li>MongoDB</li>
                    </ul>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
                    <h3 class="text-lg font-semibold mb-2">Backend y API</h3>
                    <ul class="list-disc list-inside">
                        <li>Express.js</li>
                        <li>Django</li>
                        <li>Flask</li>
                        <li>RESTful APIs</li>
                        <li>GraphQL</li>
                    </ul>
                </div>
                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
                    <h3 class="text-lg font-semibold mb-2">Control de Versiones y Herramientas de Colaboración</h3>
                    <ul class="list-disc list-inside">
                        <li>Git</li>
                        <li>GitHub</li>
                        <li>GitLab</li>
                        <li>Bitbucket</li>
                    </ul>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
                    <h3 class="text-lg font-semibold mb-2">Pruebas y Depuración</h3>
                    <ul class="list-disc list-inside">
                        <li>Jest (pruebas unitarias)</li>
                        <li>Mocha (pruebas de integración)</li>
                        <li>Selenium (pruebas automatizadas)</li>
                    </ul>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/6">
                    <h3 class="text-lg font-semibold mb-2">Despliegue y Administración de Aplicaciones</h3>
                    <ul class="list-disc list-inside">
                        <li>AWS</li>
                        <li>Heroku</li>
                        <li>Netlify</li>
                    </ul>
                </div>
            </div>
        </div>

    </section>
</div>