<header class="bg-transparent backdrop-blur-md fixed w-full">
    <app-nav-bar></app-nav-bar>
</header>

<div class="absolute z-[-1] h-screen top-0 w-full bg-[url(./assets/city-skyline.png)] bg-cover bg-center" style="-webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);">

</div>
<main>
    <section id="hero" class="h-[calc(100vh-7vh)]">
        <app-hero></app-hero>
    </section>
    <section id="skills" class="py-12 md:py-24 container mx-auto">
        <app-skills></app-skills>
    </section>
    <section id="projects" class="py-12 container mx-auto md:py-24">
        <app-projects></app-projects>
    </section>
    <section id="contact" class="container mx-auto py-12 md:py-24">
        <app-contact></app-contact>
    </section>
    <section><app-footer></app-footer></section>
</main>