<section class="w-full h-screen align-middle justify-center content-center text-center">
    <div class="h-full">
        <img src="https://static.vecteezy.com/system/resources/previews/002/099/780/original/desert-landscape-background-design-illustration-free-vector.jpg"
            alt="">

        <div class="items-center absolute left-1/2 top-1/2 translate-x-[-50%] translate-y-[-50%]">
            <h1 class=" text-primary text-5xl" style="font-family: 'Lobster';">Not Found</h1>
        </div>
    </div>
</section>