<div class="rounded-lg border">
    <img alt="Project 2" loading="lazy" decoding="async" data-nimg="1" class="aspect-video rounded-t-lg object-cover"
        style="color:transparent" [src]="imgSrc">
    <div class="p-4">
        <h3 class="font-semibold">{{projectTitle}}</h3>
        <p class="mt-2 text-sm text-muted-foreground">{{projectDescription}}</p>
        <button
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-9 rounded-md px-3 mt-4">View
            Project
        </button>
    </div>
</div>